@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    min-height: 100dvh;
}

.site {
    width: 100%;
}

.timeline {
    border: 1px solid #ccc;
    border-radius: 0.2em;
    padding: 2em;
    position: relative;
    background-color: #eee;
}

.timeline::before {
    display: block;
    content: '';
    width: 2px;
    background-color: #ccc;
    position: absolute;
    top: 2em;
    bottom: 0;
    left: 2.95em;
    z-index: 1;
}

.timeline section {
    background-color: #fff;
    padding: 1em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
}

.timeline > section {
    position: relative;
    z-index: 10;
}

.timeline article {
    margin-top: 2em;
    display: flex;
    align-items: start;
    gap: 1em;
}

.timeline article::before {
    flex-basis: 2em;
    display: block;
    content: '';
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: orange;
    border: 2px solid #fff;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    flex-shrink: 0;
    position: relative;
    z-index: 10;
}

.timeline article section {
    flex-grow: 1;
}

.timeline section h2 {
    text-align: center;
    font-size: 1.2em;
}

.timeline article:nth-child(odd)::before {
    background-color: #55d400;
}

@media (width > 600px) {
    body {
        font-size: 12px;
    }
}

@media (width > 800px) {
    .timeline article {
        width: calc(50% + 1em);
    }

    .timeline article:nth-child(odd) {
        text-align: right;
    }

    .timeline article:nth-child(odd)::before {
        order: 1;
    }

    .timeline article:nth-child(even) {
        margin-left: calc(50% - 1em)
    }

    .timeline::before {
        left: calc(50% - 1px);
    }
}

@media (width > 1200px) {
    body {
        font-size: 14px;
    }
}