<h2>Recipe Catalog</h2>
<section class="recipes">
    {{#each items}}
            {{>item}}
        {{else}}
            <p class="no-post">There are no recipes found yet!</p>
        {{/each}}
</section>