<article class="intro-right-side-content">
    <img src="/img/technology.png" alt="technology">
    <h5>
        {{headline}}
        <span>Candidates: {{usersList.length}}</span>
    </h5>
</article>