.container {
    background-color: #fff;
    max-width: 90dvw;
    margin: 0 auto;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    margin: 4em 2em;
    padding: 2em;
    
    display: flex;
    flex-direction: column;
}

header, main, aside, footer {
    border: 1px solid #bbb;
    border-radius: 0.3em;
    padding: 2em;
}

section {
    margin: 2em 0;
    display: flex;
    gap: 1em;
}

.section-reverse  section {
    flex-direction: row-reverse;
}

main {
    flex-grow: 3;
}

aside {
    flex-grow: 1;
}
