* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.5 Lato, sans-serif;
    padding: 2em;
}

div.container {
    border: 1px solid #d8d8d9;
    max-width: 900px;
    margin: 0 auto;
}

div.container details + details {
    border-top: 1px solid #d8d8d9
}

details {
    padding: 1.5em;
}

details p {
    padding-top: 1em;
}

summary {
    font-weight: bold;
    list-style: none;
    cursor: pointer;
}

summary:before {
    content: '>';
    margin-right: 0.5em;
}

details[open] summary:before {
    display: inline-block;
    content: '^';
    margin-right: 0.5em;
    transform: rotate(180deg);
}