.container {
    max-width: 85dvw;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    padding: 2em;

    display: flex;
    flex-direction: column;
}

header, footer {
    text-align: center;
}

header h1 {
    margin-bottom: 0.4em;
}

header p {
    font-style: italic;
    max-width: 60ch;
    margin: 0 auto;
}

header p, footer p {
    color: #777;
}

hr {
    width: 10ch;
    margin: 2em auto;
    border: 1px solid #ccc;
}

main {
    display: flex;
    justify-content: space-evenly;
    gap: 4em;
    padding: 0 2em;
}

footer p {
    max-width: 90ch;
    margin: 0 auto;
}