input {
    display: inline-block;
    padding: 0.5em 0.8em;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    outline: none;
}

input:focus {
    border-color: #090;
}

fieldset {
    padding: 2em;
    border: 2px solid #ccc;
    max-width: 50ch;
}

fieldset legend {
    padding: 0 1em;
    font-weight: bold;
}

fieldset label {
    font-weight: bold;
}

fieldset input {
    display: block;
    width: 100%;
}

.field {
    padding-bottom: 1.5em;
}